.jumbotron {
    background: url("../images/travel.jpeg");
    background-size: cover;
    height: 450px;
    text-align: center;
}

#header_text {
    color: #454545;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right:100px;
    font-size: 70px;
    margin-bottom: 30px;
}

#header_input{
    margin-right:10px;
    width: 680px;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right:20px;
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    font-size:20px;
    font-weight: bold; 
}

#header_submit{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom:11px;
    padding-left: 20px;
    padding-right:20px;
    position: relative;
    top:-4px;
}

.header_form{
    display: inline;
}