<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Travel Kaki</title>

        <!--custom CSS files-->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>

    <body>
        <p>HELLO!</p>

        <!--custom JS files-->
        <script src = "{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>